<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Temukan restauran dengan cita rasa dan nuansa sesuai dengan keinginan hanya di so delicious">
    <meta name="theme-color" content="#383838" />
    <title>So Delicious</title>
    <link rel="apple-touch-icon" href="/icons/icon-192x192-ios.png" />
    <link rel="manifest" href="manifest.json" />
    <link href="favicon.png" rel="shortcut icon" type="image/x-icon">
    <link crossorigin="anonymous" rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Lora:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"  type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a href="#maincontent" aria-label="skip-to-content" tabindex="0" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                So Delicious
            </h1>
        </div>
        <button id="menu" aria-label="navigation-menu" class="header__menu"><span></span></button>
    </header>
    <nav id="drawer" class="nav">
        <header>
            <h2>Menu</h2>
        </header>
        <ul class="nav__list">
            <li class="nav__item"><a aria-label="nav-home" href="#/home">Home</a></li>
            <li class="nav__item"><a aria-label="nav-favourite" href="#/favorite">Favorite</a></li>
            <li class="nav__item"><a aria-label="nav-about-us" href="https://github.com/NaomyAckerman" target="_blank" rel="noreferrer">About Us</a></li>
        </ul>
    </nav>
    <div id="app"></div>
    <footer>
        <p>Copyright &copy; 2021 || So Delicious</p>
    </footer>
</body>
</html>
